<main class="content">
  <div class="blog">
    <div class="container">
      <div class="blog-preview">
        <div class="blog-preview__img m-backdrop">
          <img src="{{ article?.image }}" alt="">
        </div>
        <div class="blog-preview__badges">
          <div class="blog-card__type">
            <span>{{ article?.type_title }}</span>
          </div>
        </div>
        <div class="blog-preview__badges2">
          <div class="m-badge" *ngFor="let category of article?.categories">
            <img src="{{ category.image }}" alt="">
            <span>{{ category.title }}</span>
          </div>
        </div>
        <button class="favourite-btn _absolute m-btn-bounce"
                (click)="toggleFavorite()"
                [ngClass]="{'_added': article?.is_favorite}">
          <img src="assets/img/favourite.svg" alt="" class="_view1">
          <img src="assets/img/favourite2.svg" alt="" class="_view2">
        </button>
      </div>

      <div class="article">
        <div class="article__date">
          {{ article?.day }} {{ month }}
        </div>
        <h1 class="h1">{{ article?.title }}</h1>
        <div class="text" [innerHTML]="article?.text"></div>
        <div class="article-summary">
          <div class="text24 bold-text">
            В этой статье:
          </div>
          <div class="article-summary__authors">
            <a routerLink="/master/{{ master.id }}" class="event-card2__master _flex" *ngFor="let master of article?.masters">
              <div class="avatar">
                <img src="{{ master.photo }}" alt="">
              </div>
              <span class="text16 text14-tablet">{{ master.full_name }}</span>
            </a>
          </div>
        </div>
        <a href="" class="share-btn">
          <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="44" height="44" rx="22" stroke="#BDDA13"></rect>
            <g clip-path="url(#clip0_40_9954)">
              <path
                d="M27.5931 25.2183C26.7153 25.2183 25.9207 25.5814 25.3503 26.1649L20.4204 23.2869C20.5012 23.0089 20.5469 22.7163 20.5469 22.4123C20.5469 22.1226 20.5044 21.8431 20.431 21.5767L25.3235 18.8049C25.8956 19.4053 26.7008 19.7813 27.5936 19.7813C29.3252 19.7813 30.7343 18.3727 30.7343 16.6403C30.7343 14.9086 29.3252 13.5 27.5936 13.5C25.8621 13.5 24.453 14.9086 24.453 16.6403C24.453 16.93 24.4954 17.2095 24.5694 17.4765L19.6767 20.2486C19.1046 19.6481 18.2993 19.2721 17.4066 19.2721C15.6749 19.2721 14.2664 20.6806 14.2664 22.4129C14.2664 24.1445 15.6749 25.5532 17.4066 25.5532C18.2851 25.5532 19.079 25.1901 19.6499 24.6066L24.5793 27.4846C24.4987 27.763 24.4526 28.0562 24.4526 28.3595C24.4526 30.0917 25.8617 31.5 27.593 31.5C29.3249 31.5 30.734 30.0917 30.734 28.3595C30.734 26.6271 29.3249 25.2183 27.5931 25.2183Z"
                fill="#BDDA13"></path>
            </g>
          </svg>
          <span class="text18">Поделиться</span>
        </a>
      </div>
    </div>
  </div>

  <div class="blog-collection">
    <div class="container">
      <div class="h1">
        Похожие статьи
      </div>

      <div class="blog-slider slider articles-swiper-similar" [ngClass]="{'_hide-buttons': false}">
        <div class="slider__wrap">
          <swiper-container class="article-swiper-similar" init="false">
            <swiper-slide class="swiper-slide" *ngFor="let article of articles">
              <blog-card [img]="article.img"
                         [type]="article.type"
                         [date]="article.date"
                         [tags]="article.tags"
                         [favorite]="article.favorite"
                         [text]="article.text"></blog-card>
            </swiper-slide>
          </swiper-container>
        </div>
        <swiper-nav class="blog-slider-nav"></swiper-nav>
      </div>
    </div>
  </div>

  <div class="events2 _padding-null">
    <event-collection-history [title]="'Вы смотрели'"></event-collection-history>
  </div>
</main>
