<div class="question-item">
  <div class="question-item__top _flex">
    <div class="avatar">
      <img src="assets/img/avatar.svg" alt="" *ngIf="!question?.author_photo">
      <img src="{{ question?.author_photo }}" alt="" *ngIf="question?.author_photo">
    </div>
    <div class="question-item__info">
      <div class="text16 semi-bold-text">
        {{ question?.author_full_name }}
      </div>
      <div class="question-item__date text12">
        {{ question?.created_at | date: 'dd.MM.yyyy, HH:mm' }}
      </div>
    </div>
  </div>
  <div class="question-item__desc text16">
    {{ question?.text }}
  </div>
  <div class="answer" *ngIf="question?.answer && !editAnswer">
    <div class="answer__top _flex">
      <div class="answer__name text16 semi-bold-text">
        {{ question?.answer?.author_full_name }}
      </div>
      <div class="answer__badge _flex" *ngIf="question?.answer?.is_master">
        <img src="assets/img/crone2.svg" alt="">
        <span class="text12">Мастер</span>
      </div>
    </div>
    <div class="answer__desc text16">
      {{ question?.answer?.text }}
    </div>
    <div class="question-form__nav" *ngIf="userId === eventAuthor?.toString()">
      <div class="question-form__buttons">
        <button class="question-form__btn m-btn m-btn-primary m-btn-bounce"
                (click)="allowEditAnswer(true)">
          <span>Редактировать</span>
        </button>
      </div>
    </div>
  </div>
  <div class="answer fg" [formGroup]="answerForm"
       [ngClass]="{'_error': (answerForm.get('answer')?.invalid || !hasChanged) &&
       (answerForm.get('answer')?.dirty || answerForm.get('answer')?.touched)}"
       *ngIf="(!question?.answer && userId === eventAuthor?.toString()) || editAnswer">
    <div class="fg question-form__field m-text-field">
      <textarea maxlength="{{ maxAnswerLength }}"
                (input)="onAnswerChange()"
                placeholder="Введите ответ на вопрос. Минимум символов: {{ minAnswerLength }}"
                formControlName="answer"></textarea>
    </div>
    <div class="fg__error-text" *ngIf="answerForm.get('answer')?.errors?.['minlength']">
      <div class="text12">Введите минимум {{ minAnswerLength }} символов!</div>
    </div>
    <div class="fg__error-text" *ngIf="answerForm.get('answer')?.errors?.['maxlength']">
      <div class="text12">Максимальная длина ответа {{ maxAnswerLength }} символов!</div>
    </div>
    <div class="fg__error-text" *ngIf="!hasChanged && answerSaved">
      <div class="text12">Ответ не изменен</div>
    </div>
    <div class="fg__error-text" *ngIf="answerForm.get('answer')?.errors?.['required']">
      <div class="text12">Обязательное поле</div>
    </div>
    <div class="question-form__nav">
      <div class="question-form__buttons">
        <button class="question-form__btn m-btn m-btn-primary m-btn-bounce"
                (click)="proceed()"
                [disabled]="answerForm.invalid || !hasChanged">
          <span>Сохранить</span>
        </button>
        <button class="question-form__btn m-btn m-btn-gray m-btn-bounce" (click)="cancelAnswer()">
          <span>Отменить</span>
        </button>
      </div>
      <div class="question-form__info">
        Всего символов <span class="question-form__field-count">{{ answerForm.get('answer')?.value?.length }}</span>/{{ maxAnswerLength }}
      </div>
    </div>
  </div>
</div>
