@import "../vars";
.m-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0 2.25em;
    height: 3.5em;
    border-radius: 3.125em;
    font-weight: 500;
    font-family: $font2;
    &:focus {
        box-shadow: none;
    }
    span{
        font-size: 1.125em;
    }
}

.m-btn-gray{
    background-color: #f6f6f6;
    color: $black;
    &:hover{
        background-color: darken($primary,5%);
        color: $black;
    }
}

.m-btn-black{
    background-color: #424242;
    color: #fff;
    &:hover{
        background-color: darken(#424242,5%);
        color: #fff;
    }
}

.m-btn-primary{
    background-color: $primary;
    color: $black;
    &:hover{
        background-color: darken($primary,5%);
        color: $black;
    }
}

.m-btn-primary-outline{
    color: $text-day;
    border: 1px solid $primary;
    &:hover{
        background-color: $primary;
        color: $text-day;
    }
}

.m-btn-danger{
    background-color: $danger;
    color: $text-day;
    &:hover{
        background-color: darken($danger,5%);
        color: $text-day;
    }
}

.m-btn-danger-outline{
    color: $text-day;
    border: 1px solid $danger;
    &:hover{
        background-color: $danger;
        color: $text-day;
    }
}

.m-link{
    font-weight: 500;
    font-size: 1em;
    line-height: 123%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #23a0e7;
    font-family: $font2;
    &:hover{
        text-decoration-color: transparent;
    }
}

.air-datepicker .button-apply,
.radio-btn input,
.m-btn-bounce{
    transition: all ease .4s;
    @media screen and (min-width: 993px){
        &:hover ~ label,
        &:hover{
            transform: translateY(-.25em);
            box-shadow: rgba(193, 193, 193, 0.7) 0 .3125em 1.25em;
        }
    }
}

.air-datepicker .button-apply{
    &:hover{
        box-shadow: unset;
    }
}

.radio-btn{
    label{
        transition: all ease .4s;
    }
}

.m-btn {
  &:disabled {
    cursor: not-allowed;
    background-color: #f6f6f6;
    color: gray;
    border: none;
    &:hover{

    }
  }
}
