<main class="content">

  <div class="poster masters-page">
    <div class="container">
      <div class="poster__top _flex-between">
        <poster-info [title]="'Мастера'"
                     [currentCity]="chosenCity"
                     (onAllCityModalButtonClick)="toggleCityModal($event)"></poster-info>
      </div>

      <div class="filter" *ngIf="true" [ngClass]="{'_filters-selected': filtersSelected}">
        <param-filter [filterObjects]="filterObjects"></param-filter>
        <div class="filter__right">
          <sort></sort>
        </div>
      </div>

      <div class="masters-items">
        <master-card *ngFor="let master of mastersList" [master]="master" [isLogged]="isLogged" class="master-card"></master-card>
      </div>

      <button class="more-btn m-btn m-btn-primary m-btn-bounce"
              *ngIf="showMoreButton"
              (click)="getMastersResponse(offset)">
        <span>Показать еще</span>
        <img src="assets/img/arrow-bottom.svg" alt="">
      </button>
    </div>
  </div>
</main>
<city-modal [isOpened]="isCityModalOpened"
            [chosenCity]="chosenCity"
            (onChoiceCity)="chooseCity($event)"
            (onCloseModal)="toggleCityModal($event)"></city-modal>
