<div class="publication-card publication-card--master">
  <div class="publication-card__top _flex-between">
    <div class="publication-card__badge">
      <span>Платное</span>
    </div>
    <div class="publication-card__nav _flex">
      <button class="publication-card__btn m-btn m-btn-primary m-btn-bounce">
        <img src="assets/img/edit.svg" alt="">
      </button>
      <button class="publication-card__btn publication-card__btn--delete m-btn m-btn-bounce">
        <img src="assets/img/delete.svg" alt="">
      </button>
    </div>
  </div>
  <div class="publication-card__grid">
    <a href="" class="publication-card__img m-backdrop _scale-img">
      <img src="assets/img/publication.webp" alt="">
    </a>
    <div class="publication-card__content">
      <div class="publication-card__wrap">
        <div class="publication-card__title">
          <a href="">title</a>
        </div>
        <div class="event-city _flex">
          <img src="assets/img/marker.svg" alt="">
          <span class="text16 text14-tablet">
                        Москва
                    </span>
        </div>
      </div>
      <div class="publication-card__badges">
        <div class="publication-card__free">
          <span>от 1700₽</span>
        </div>
        <div class="publication-card__count">
          <span>50 билетов</span>
        </div>
      </div>
      <div class="publication-card__tags _flex">
        <div class="event-card2__tag m-badge">
          <img src="assets/img/type-icon4.svg" alt="">
          <span>Йога</span>
        </div>
        <div class="event-card2__tag m-badge">
          <img src="assets/img/type-icon5.svg" alt="">
          <span>Баня</span>
        </div>
      </div>
    </div>
    <div class="day-badge _big">
      <div class="text24 bold-text font2">4</div>
      <div class="text12">Марта</div>
    </div>
  </div>
  <div class="publication-card__bottom">
    <a href="" class="publication-card__answer m-btn-primary m-btn-bounce">
      <div class="publication-card__answer-title">Вопросы/ответы</div>
      <div class="publication-card__answer-count">15 новых</div>
    </a>
    <a href="" class="publication-card__answer _type2 m-btn-primary m-btn-bounce">
      <div class="publication-card__answer-title">Смотреть участников</div>
      <div class="publication-card__answer-count">15</div>
    </a>
  </div>
</div>
