<div class="publication-card publication-card--master">
  <div class="publication-card__top _flex-between">
    <div class="publication-card__badge">
      <span *ngIf="!publication?.is_free">Платное</span>
      <span *ngIf="publication?.is_free">Бесплатное</span>
    </div>
    <div class="publication-card__nav _flex">
      <a routerLink="{{ publication?.id }}" class="publication-card__btn m-btn m-btn-primary m-btn-bounce">
        <img src="assets/img/edit.svg" alt="">
      </a>
      <button (click)="toggleDeleteModal(true)"
              class="publication-card__btn publication-card__btn--delete m-btn m-btn-bounce">
        <img src="assets/img/delete.svg" alt="">
      </button>
    </div>
  </div>
  <div class="publication-card__grid">
    <a routerLink="{{ publication?.id }}"
       [ngClass]="{default_image: !publication?.image}"
       class="publication-card__img m-backdrop _scale-img">
      <img src="{{ publication?.image }}" alt="" *ngIf="publication?.image">
      <img src="assets/img/event_stub.svg" alt="" *ngIf="!publication?.image">
    </a>
    <div class="publication-card__content">
      <div class="publication-card__wrap">
        <div class="publication-card__title">
          <a routerLink="{{ publication?.id }}">{{ publication?.title }}</a>
        </div>
        <div class="event-city _flex">
          <img src="assets/img/marker.svg" alt="">
          <span class="text16 text14-tablet">{{ publication?.city }}</span>
        </div>
      </div>
      <div class="publication-card__badges">
        <div class="publication-card__free" >
          <span *ngIf="!publication?.is_free">от {{ +publication!.price }}₽</span>
          <span *ngIf="publication?.is_free">Бесплатно</span>
        </div>
        <div class="publication-card__count">
          <span>{{ tickets }}</span>
        </div>
      </div>
      <div class="publication-card__tags _flex">
        <div class="event-card2__tag m-badge" *ngFor="let category of publication?.categories">
          <img src="{{ category.image }}" alt="" *ngIf="category.image">
          <img src="assets/img/marker.svg" alt="" *ngIf="!category.image">
          <span>{{ category.title }}</span>
        </div>
      </div>
    </div>
    <div class="day-badge _big">
      <div class="text24 bold-text font2">{{ day }}</div>
      <div class="text12">{{ month }}</div>
    </div>
  </div>
  <div class="publication-card__bottom">
    <button class="publication-card__answer m-btn-primary m-btn-bounce" (click)="openQuestionsAnswersModal(publication?.id)">
      <div class="publication-card__answer-title">Вопросы/ответы</div>
      <div class="publication-card__answer-count" *ngIf="publication?.number_new_questions">
        {{ publication?.number_new_questions | numberToString }}
      </div>
    </button>
    <button class="publication-card__answer _type2 m-btn-primary m-btn-bounce" (click)="openParticipantsModal(publication?.id)">
      <div class="publication-card__answer-title">Смотреть участников</div>
      <div class="publication-card__answer-count">{{ publication?.total_booked }}</div>
    </button>
  </div>
</div>

<confirm-modal
  (onCloseModal)="toggleDeleteModal($event)"
  (onConfirmClick)="deletePublication(publication?.id)"
  [isOpen]="isOpenConfirmModal"
  [text]="'Вы действительно хотите удалить публикацию?'"></confirm-modal>
