<div class="notes _tabs-parent">
  <div class="notes__top _flex-between">
    <h1 class="h1">
      Мои записи
    </h1>
    <div class="notes__links">
      <a routerLink="/profile/notes"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="_active"
         class="_tab notes__link _active m-btn-bounce" data-tab="_tab1">
        <span>Текущие</span>
      </a>
      <a routerLink="/profile/notes/past"
         routerLinkActive="_active"
         class="_tab notes__link m-btn-bounce" data-tab="_tab2">
        <span>Прошедшие</span>
      </a>
    </div>
  </div>

  <div class="tab-content _tab1 _active">
    <div class="notes__grid">
      <note-card
        *ngFor="let booking of bookings"
        [booking]="booking"></note-card>
    </div>
  </div>
</div>
