<div class="modal" [ngClass]="isOpen ? '_active _active2' : ''" id="loginModal">
  <div class="modal__bg modal-bg _close-modal" (click)="closeModal()"></div>
  <div class="modal__dialog">
    <button class="close-btn _close-modal" (click)="closeModal()">
      <img src="assets/img/close2.svg" alt="">
    </button>
    <close-btn-mob (click)="closeModal()"></close-btn-mob>
    <div class="modal__top text-center">
      <div class="text30 text24-tablet semi-bold-text">
        Вход
      </div>
    </div>
    <section class="modal-form modal-form2" [formGroup]="loginForm">
      <div class="fg"
           [ngClass]="{'_error': loginForm.get('username')?.invalid &&
           (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)}">
        <label>E-mail или имя пользователя</label>
        <input type="text" placeholder="Имя пользователя" formControlName="username">
        <div class="fg__error-text">
          <div class="text12">Обязательное поле</div>
        </div>
      </div>
      <div class="modal-form__pass">
        <!--        <pass-field label="Пароль"></pass-field>-->
        <fieldset class="fg">
          <label>Пароль</label>
          <div class="fg" [ngClass]="{'_error': loginForm.get('password')?.invalid &&
           (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)}">
            <div class="fg__field">
              <input [type]="isPasswordShowed ? 'text' : 'password'"
                     placeholder="Пароль" formControlName="password">
              <button type="button" class="pass-toggle"
                      [ngClass]="{'_active': isPasswordShowed}"
                      (click)="togglePasswordShow()">
                <img src="assets/img/pass.svg" alt="" class="_view1">
                <img src="assets/img/pass2.svg" alt="" class="_view2">
              </button>
            </div>
            <div class="fg__error-text">
              <div class="text12">Обязательное поле</div>
            </div>
          </div>
        </fieldset>
        <div class="modal-form__pass-nav">
          <a href="" class="modal-form__pass-link m-link">Забыли пароль?</a>
        </div>
      </div>
      <button type="button" class="m-btn m-btn-primary"
              [ngClass]="{'m-btn-bounce': loginForm.valid}"
              [disabled]="loginForm.invalid" (click)="login()">
        <span>Войти</span>
      </button>
      <div class="modal-form__bottom text-center">
        <div class="text18 text14-mob">
          Еще нет аккаунта? <a (click)="singUpOpen()" class="m-link">Зарегистрироваться</a>
        </div>
      </div>
    </section>
  </div>
</div>
