<div class="faq-group__items">
  <div class="faq-card _answered">
    <div class="faq-card__top _flex">
      <div class="avatar">
        <img src="{{ questionsWithAnswer?.author_photo }}" alt="">
      </div>
      <div class="faq-card__info">
        <div class="faq-card__wrap _flex">
          <div class="faq-card__name">
            {{ questionsWithAnswer?.author_full_name }}
          </div>
          <div class="faq-card__badge">
            <span>Новый вопрос</span>
          </div>
        </div>
        <div class="faq-card__date">
          <span>{{ questionsWithAnswer?.created_at | date: 'dd.MM.yyyy, HH:mm' }}</span>
        </div>
      </div>
    </div>
    <div class="faq-card__desc text16">
      {{ questionsWithAnswer?.text }}
    </div>
    <div class="answer">
      <div class="answer__top _flex">
        <div class="answer__name text16 semi-bold-text">
          {{ questionsWithAnswer?.answer?.author_full_name }}
        </div>
        <div class="answer__badge _flex" *ngIf="questionsWithAnswer?.answer?.is_master">
          <img src="assets/img/crone2.svg" alt="">
          <span class="text12">Мастер</span>
        </div>
      </div>
      <div class="answer__info" *ngIf="!edit">
        <div class="answer__info-text">
          <div class="answer__desc text16">
            {{ questionsWithAnswer?.answer?.text }}
          </div>
        </div>
        <button class="answer__more">
          еще
        </button>
      </div>
      <div class="answer__info" *ngIf="edit">
        <div class="answer__info-text">
          <div class="answer__desc text16">
            <div class="fg question-form__field m-text-field">
              <textarea cols="30" rows="10">{{ questionsWithAnswer?.answer?.text }}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="answer__nav _flex-between">
        <button class="answer__edit m-btn m-btn-black m-btn-bounce"
                *ngIf="!edit"
                (click)="toggleEdit()">
          <img src="assets/img/edit2.svg" alt="">
          <span>Редактировать ответ</span>
        </button>
        <div class="_flex-between-half_em">
          <button class="answer__edit m-btn m-btn-primary m-btn-bounce"
                  *ngIf="edit"
                  (click)="saveAnswer()">
            <svg class="custom-svg" width="64px" height="64px" viewBox="0 0 32 32"
                 fill="#000000">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                 stroke-width="0.384"></g>
              <g id="SVGRepo_iconCarrier"><title>save-floppy</title>
                <desc>Created with Sketch Beta.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Icon-Set" transform="translate(-152.000000, -515.000000)"
                     fill="#000000">
                    <path
                      d="M171,525 C171.552,525 172,524.553 172,524 L172,520 C172,519.447 171.552,519 171,519 C170.448,519 170,519.447 170,520 L170,524 C170,524.553 170.448,525 171,525 L171,525 Z M182,543 C182,544.104 181.104,545 180,545 L156,545 C154.896,545 154,544.104 154,543 L154,519 C154,517.896 154.896,517 156,517 L158,517 L158,527 C158,528.104 158.896,529 160,529 L176,529 C177.104,529 178,528.104 178,527 L178,517 L180,517 C181.104,517 182,517.896 182,519 L182,543 L182,543 Z M160,517 L176,517 L176,526 C176,526.553 175.552,527 175,527 L161,527 C160.448,527 160,526.553 160,526 L160,517 L160,517 Z M180,515 L156,515 C153.791,515 152,516.791 152,519 L152,543 C152,545.209 153.791,547 156,547 L180,547 C182.209,547 184,545.209 184,543 L184,519 C184,516.791 182.209,515 180,515 L180,515 Z"
                      id="save-floppy"></path>
                  </g>
                </g>
              </g>
            </svg>
            <span>Сохранить</span>
          </button>
          <button class="answer__edit m-btn m-btn-gray m-btn-bounce"
                  *ngIf="edit"
                  (click)="toggleEdit()">
            <span>Отменить</span>
          </button>
        </div>
        <button
          (click)="toggleDeleteModal(true)"
          class="publication-card__btn publication-card__btn--delete m-btn m-btn-bounce">
          <img src="assets/img/delete.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>

<confirm-modal
  (onCloseModal)="toggleDeleteModal($event)"
  (onConfirmClick)="removeAnswer()"
  [isOpen]="isOpenConfirmModal"
  [text]="'Вы действительно хотите удалить ответ?'"></confirm-modal>
