.masters{
  padding: 1.5625em 0;
  overflow: hidden;
}

.master-slider{
  .swiper{
    &-button{
      top: 11.47em;
    }
  }
}

.masters {
  swiper-container::part(container) {
    overflow: visible;
  }
}

.master-card{
  position: relative;
  height: 100%;
  border-radius: 1.25em;
  border-color: black;
  box-shadow: 0 .25em 1.25em rgba(0, 0, 0, 0.1);

  //z-index: 55;
  display: flex;
  flex-direction: column;
  &__img{
    @include imgCover(87.3%);
    //border-radius: 1.25em;
    border-radius: 1.25em 1.25em 0 0;
    &:after{
      height: 50%;
      background: linear-gradient(180deg, rgba(#000,0) 0%, #000 100%);
    }
  }
  .favourite-btn{
    width: 3.125em;
    height: 3.125em;
  }
  &__content{
    //margin-top: 1.25em;
    padding: 1.25em .75em 2em 1.125em;
  }
  &__text{
    margin-top: .75em;
    max-width: 20em;
    opacity: .6;
  }
  &__tags{
    margin-top: .5em;
  }
  .tags{
    margin-top: .25em;
    &__btn{
      background-color: $primary;
    }
    &__hidden{
      width: auto;
    }
  }
  .m-badge{
    background-color: $primary;
    padding: 0 .625em;
    margin: .25em .25em 0 0;
    border-radius: 1.25em;
    font-weight: 600;
    color: rgba($black,.6);
  }
}


@media screen and (max-width: 992px){
  .master-card{
    &__img{
      padding-bottom: 105.4%;
    }
  }
}


@media screen and (max-width: 576px){

}
