.date-filter{
  position: relative;
  &._active{
    .date-modal{
      opacity: 1;
      pointer-events: unset;
      z-index: 11;
    }
  }
  &__show{
    padding-bottom: 100%;
    border-radius: 50%;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 .25em .625em rgba(0, 0, 0, 0.1);
    img{
      @include centerAbsolute;
      width: 2.4375em;
    }
  }
}

.air-datepicker{
  font-size: 1em;
  //box-shadow: $dr-shadow !important;
  border-radius: 0;
  font-family: $font3;
  padding: 1em;
}

.air-datepicker--pointer{
  display: none;
}

.air-datepicker-nav{
  border: none;
  padding: 0;
}

.air-datepicker-nav--title{
  border-radius: 0;
}

.air-datepicker-nav--action{
  width: 1.5em;
  height: 1.5em;
  @include center;
  border-radius: 50%;
  background: #ebebeb;
  transition: all .3s;
  position: relative;
  @include bgImgSize(100%);
  &[data-action="prev"]{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_12976)'%3E%3Cpath d='M14.1154 8.3913L10.1915 12.3834L14.1154 16.3755' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_12976'%3E%3Crect x='0.5' width='24' height='24' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    &:hover{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_12976)'%3E%3Cpath d='M14.1154 8.3913L10.1915 12.3834L14.1154 16.3755' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_12976'%3E%3Crect x='0.5' width='24' height='24' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &[data-action="next"]{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_12981)'%3E%3Cpath d='M10.8846 15.6087L14.8085 11.6166L10.8846 7.62453' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_12981'%3E%3Crect x='24.5' y='24' width='24' height='24' rx='12' transform='rotate(-180 24.5 24)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    &:hover{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_12981)'%3E%3Cpath d='M10.8846 15.6087L14.8085 11.6166L10.8846 7.62453' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_12981'%3E%3Crect x='24.5' y='24' width='24' height='24' rx='12' transform='rotate(-180 24.5 24)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  path{
    stroke: $black;
  }
  svg{
    display: none;
  }
  &:hover{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24);
    background-color: $black;
    path{
      stroke: #fff;
    }
  }
}

.air-datepicker-nav--title{
  font-size: 1.25em;
  font-weight: 700;
  font-family: $font2;
}

.air-datepicker--content{
  padding: 0;
}

.air-datepicker-body--day-names{
  margin: .75em 0;
}

.air-datepicker-body--day-name{
  font-size: 1em;
  line-height: 133%;
  height: 2.5em;
  color: $text-day;
  text-transform: lowercase;
  font-weight: 400;
}

.air-datepicker-body--cells.-days-{
  grid-auto-rows: unset;
  grid-template-columns: repeat(7,calc(100% / 7));
  gap: .5em 0;
}

.air-datepicker-cell{
  height: 2.5em;
  font-size: 1em;
  border-radius: 0;
}

.air-datepicker-cell.-day-{
  width: 100%;
  margin: 0 auto;
  max-width: 2.5em;
  border-radius: .25em;
}

.air-datepicker-cell.-selected-{
  background-color: $primary !important;
  color: $black;
  &.-other-month-{
    background-color: $primary ;
    color: $black;
  }
  &:before{
    width: 1em !important;
    left: 90% !important;
    opacity: 1 !important;
  }
}

.air-datepicker-cell.-range-to-{
  background-color: rgba($primary,.2);
  &:before{
    right: 90% !important;
    left: unset !important;
    opacity: 1 !important;
  }
}

.air-datepicker-cell.-in-range-{
  position: relative;
  background-color: #fff;
  z-index: 2;
  color: $black;
  max-width: 100%;
  border-radius: 0;
  &:before{
    opacity: 1 !important;
  }
}

.air-datepicker-cell.-focus-{
  background-color: $primary;
}

.air-datepicker-cell.-weekend-{
  color: $text-weekend;
}

.air-datepicker-buttons {
  display: grid;
  grid-template-columns: repeat(3,calc(100% / 3 - 1.25em / 3));
  gap: 1.125em .625em;
  margin-top: 1em;
  grid-auto-columns: unset;
  grid-auto-flow: unset;
  @media screen and (min-width: 577px){
    //display: none;
  }
}

.air-datepicker--buttons{
  border: none;
  padding: 0;
}

.datepicker-button {
  border: 1px solid $primary;
  font-weight: 500;
  padding: 0;
  background: none;
  height: 2em;
  border-radius: 1.43em;
  font-size: .875em;
  color: $black;
}

.button-apply.large {
  grid-column: 1/-1;
  font-size: 1.125em;
  height: 3.17em;
  background-color: $primary;
  border-radius: 2.78em;
}

.date-modal{
  position: absolute;
  top: 100%;
  right: -.1875em;
  margin-top: .3125em;
  width: 23.5em;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 1.5em;
  border-radius: .75em;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  &__days,
  &__btn,
  .close-btn,
  &__bg{
    display: none;
  }
  .date-input{
    overflow: hidden;
    input{
      position: absolute;
      pointer-events: none;
      opacity: 0;
    }
  }
  .air-datepicker{
    width: 100%;
    padding: 0;
    border: none;
    &:before,
    &:after{
      display: none;
    }
  }
  .air-datepicker-cell{
    &:before{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba($primary,.2);
      z-index: -1;
      opacity: 0;
      display: block;
    }
  }
}




@media screen and (max-width: 992px){
  .date-filter{
    &__show{
      img{
        width: 1.75em;
      }
    }
    &._active{
      .date-modal__bg{
        display: block;
        z-index: 20;
      }
    }
  }

  .date-modal{
    right: unset;
    left: -.1875em;
    .close-btn-mob{
      bottom: unset;
      right: 50%;
      top: .875em;
      margin: 0;
      transform: translateX(50%);
      background: $primary;
      width: 4.0625em;
      height: .375em;
      border-radius: .625em;
      img{
        display: none;
      }
    }
    .air-datepicker-cell{
      font-size: .875em;
    }
  }

  .date-modal{
    z-index: 22;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: unset;
    border-radius: 1.25em 1.25em 0 0;
    padding: 2.5em .6875em 1.875em;
    overflow-y: auto;
    transform: translateY(100%);
    &._active2{
      transform: translateY(0%);
    }
    .close-btn{
      display: none;
    }
    &__days{

    }
    &__day{
      @include center;
      height: 1.75em;
      border-radius: 1.25em;
      border: 1px solid $primary;
      font-weight: 500;
      span{
        font-size: .875em;
      }
    }
    &__btn{
      display: flex;
      margin-top: 1.125em;
      width: 100%;
      height: 3.5em;
    }
  }
}


@media screen and (max-width: 576px){
  .date-filter{
    &__show{
      margin-top: .5em;
    }
  }


}
