.user-settings{
  padding: 1.5em 1em;
  background: #f8f8f8;
  border: 1px solid #e4e4e4;
  border-radius: 1.25em;
  margin-top: 2.125em;
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.25em;
    margin-bottom: 1.25em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__title{
    font-size: 1.125em;
    line-height: 117%;
    font-weight: 500;
  }
  .m-switch{
    margin-left: .25em;
  }
}

.user-form{
  @include grid100gap(1.5em);
  max-width: 33.125em;
  .modal-form__pass-nav{
    margin-top: .625em;
  }
  .m-link{
    font-size: .75em;
  }
  &__btn{
    margin-top: .625em;
    font-weight: 600;
  }
  .fg{
    textarea{
      height: 21.75em;
    }
    &.short-text{
      textarea{
        height: 5.75em;
      }
    }
  }
}

.add-btn{
  height: 1.75em;
  padding: 0 .8125em;
  background: #eaf1da;
  border-radius: .5em;
  display: flex;
  align-items: center;
  font-weight: 500;
  &:hover{
    background: $primary;
    path{
      fill: $black;
    }
  }

  &:disabled{
    cursor: not-allowed;
    background: $gray3;
    path{
      fill: gray;
    }
  }

  svg{
    width: 1em;
    margin-right: .625em;
  }
  span{
    font-size: .875em;
  }
}

.del-btn{
  height: 1.75em;
  padding: 0 .8125em;
  background: #efc4c9;
  border-radius: .5em;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: black;
  &:hover{
    background: $danger;
    path{
      fill: $black;
    }
  }

  &:disabled{
    cursor: not-allowed;
    background: $gray3;
    path{
      fill: gray;
    }
  }

  svg{
    width: 1em;
    margin-right: .625em;
  }
  span{
    font-size: .875em;
  }
}

.phone-fields{
  &__nav{
    display: flex;
    margin-top: .625em;
  }
}

.warning{
  height: 3.625em;
  background: #f4f4f4;
  border: 1px solid #ffa5a5;
  border-radius: 3.125em;
  @include center;
  padding: 0 2.625em;
  font-weight: 600;
  img{
    width: 1.25em;
    margin-right: .625em;
  }
  span{
    font-size: 1.125em;
    line-height: 117%;
  }
}


@media screen and (max-width: 992px){
  .user-settings{
    margin-top: 1.875em;
    &__title{
      font-size: 1em;
    }
  }
}


@media screen and (max-width: 576px){
  .warning{
    span{
      font-size: .875em;
    }
  }
}
