.notes{
  &__links{
    display: flex;
  }
  &__link{
    cursor: pointer;
    border-radius: 3.125em;
    padding: 0 1.5em;
    height: 2.125em;
    @include center;
    font-weight: 500;
    background: rgba(240,240,240,.8);
    @include lastM(0 .5em 0 0);
    &:hover,
    &._active{
      background-color: $primary;
      color: $black;
    }
    &._active{
      pointer-events: none;
      transform: unset !important;
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(3,calc(100% / 3 - 1.75em / 3));
    gap: .875em;
    margin-top: 2.125em;
  }
}

.note-card{
  position: relative;
  &__img{
    @include imgCover(66%);
    border-radius: .75em;
  }
  .day-badge{
    position: absolute;
    top: 1em;
    left: 1.25em;
  }
  &__info{
    position: absolute;
    bottom: 1.25em;
    left: 1.25em;
  }
  .avatar{
    width: 2.5em;
    height: 2.5em;
  }
  &__title{
    padding: 0 .625em;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 3.125em;
    height: 2.5em;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: $font2;
  }
}

.faq-modal{
  .modal__dialog{
    padding: 1.5em;
  }
  .modal__scroll{
    margin-top: 2.5em;
    padding-right: .625em;
    overflow-y: auto;
    max-height: calc(100 * var(--vh) - 18.75em);
    @include scroll;
  }
}

.faq-group{
  margin-top: 2.5em;
  &:first-child{
    margin-top: 0;
  }
  &__items{
    @include grid100gap(1.5em);
    margin-top: 1.5em;
  }
}

.faq-card{
  padding: 0 1.25em;
  border-radius: .5em;
  border-left: .25em solid #DEDEDE;
  &._new{
    border-color: $primary;
    .faq-card__badge{
      display: flex;
    }
  }
  &._answered{
    border: none;
    background-color: #F9F9F9;
    padding: 1.25em;
  }
  .avatar{
    width: 2.5em;
    height: 2.5em;
    margin-right: .875em;
  }
  &__name{
    font-size: 1em;
    line-height: 120%;
    font-weight: 600;
  }
  &__badge{
    margin-left: .5em;
    padding: 0 .5em;
    height: 1.5em;
    display: none;
    align-items: center;
    font-weight: 600;
    background-color: $primary;
    border-radius: .25em;
    span{
      font-size: .75em;
    }
  }
  &__date{
    color: rgba(#25292F,.6);
    margin-top: .5em;
    span{
      font-size: .75em;
      line-height: 117%;
    }
  }
  &__desc{
    margin-top: .875em;
    color: #5A6069;
  }
  &__nav{
    display: flex;
    margin-top: .875em;
  }
  &__btn{
    padding: 0 1em;
    height: 1.5625em;
    span{
      font-size: .8125em;
    }
  }
  &__answer{
    padding-top: 1.875em;
    //display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
  }
  &._open{
    .faq-card__answer {
      //display: block;
      max-height: 700px;

    }
  }
  .question-form__field{
    margin: 0;
  }
  .question-form__field{
    textarea{
      background-color: #EDEDED;
    }
  }
  .answer{
    margin-top: 1.25em;
    padding: 0;
    background-color: transparent;
    &__desc{
      -webkit-line-clamp: 3;
    }
  }
}


@media screen and (max-width: 992px){
  .notes{
    &__top{
      flex-direction: column;
      align-items: flex-start;
    }
    &__links{
      margin-top: 1.25em;
    }
    &__grid{
      margin-top: 1.875em;
      grid-template-columns: repeat(2,calc(50% - .4375em));
    }
  }

  .faq-modal{
    .modal__scroll{
      max-height: calc(100 * var(--vh) - 11.75em);
      margin-top: 1.5em;
      padding-right: 0;
    }
    .modal__top{
      padding: 0;
    }
  }

  .faq-card{
    .question-form__field{
      textarea{
        font-size: .875em;
      }
    }
  }
}


@media screen and (max-width: 576px){
  .notes{
    &__grid{
      grid-template-columns: 100%;
    }
  }

  .faq-modal{
    .modal__dialog{
      padding: 2.5em .625em 0;
    }
  }

  .faq-card{
    .question-form__info{
      margin-left: auto;
    }
  }
}
