<div class="modal" [ngClass]="isOpened ? '_active _active2' : ''" id="cityModal">
  <div class="modal__bg modal-bg _close-modal" (click)="closeModal()"></div>
  <div class="modal__dialog">
    <button class="close-btn _close-modal" (click)="closeModal()">
      <img src="assets/img/close2.svg" alt="">
    </button>
    <close-btn-mob (click)="closeModal()"></close-btn-mob>
    <div class="modal__top">
      <div class="text30 text24-tablet semi-bold-text text-center">
        Найти город
      </div>
    </div>
    <div class="fg search-field _mt30">
      <input type="text"
             [(ngModel)]="searchField"
             (input)="filterCity()"
             placeholder="Введите название города">
      <img src="assets/img/search.svg" alt="" class="search-field__icon">
    </div>
    <div class="cities _mt16">
      <div class="cities__items">
        <div class="cities__item" [ngClass]="city === chosenCity ? '_active' : ''"
             (click)="cityProceed(city)"
             *ngFor="let city of citiesFiltered">
          <span>{{ city }}</span>
        </div>
      </div>
    </div>
    <div class="delete-confirm__nav">
      <button class="delete-confirm__btn m-btn m-btn-primary m-btn-bounce" (click)="search()">
        <span>Ок</span>
      </button>
    </div>
  </div>
</div>
