<div class="profile__col">
  <div class="publication">
    <div class="publication__top _flex-between">
      <h1 class="h1">
        Мои публикации
      </h1>
      <a routerLink="/profile/publication/add" class="publication__btn m-btn m-btn-primary m-btn-bounce">
        <img src="assets/img/plus.svg" alt="">
        <span>Добавить мероприятие</span>
      </a>
    </div>

    <div class="publication__grid">
      <publication-card
        (onParticipantsModalOpen)="proceedParticipantsModal($event.isOpened, $event.participantsList)"
        (onQuestionsAnswersModalOpen)="proceedQuestionsAnswersModal($event)"
        [publication] = publication
        (deletedPublicationId)="onPublicationDeleted($event)"
        *ngFor="let publication of publications"></publication-card>
    </div>
  </div>
</div>

<participants-modal
  [participants]="participantList"
  [isOpened]="isParticipantsModalOpened"
  (onCloseModal)="proceedParticipantsModal($event)"></participants-modal>

<questions-answers-modal
  [isOpened]="isQuestionsAnswersModalOpened"
  [questions]="questions"
  [questionsWithAnswer]="questionsWithAnswer"
  (onSaveAnswer)="getEventQuestionResponse($event)"
  (onCloseModal)="proceedQuestionsAnswersModal({isOpened: $event})"></questions-answers-modal>
