<div class="profile__col">
  <div class="publication">
    <div class="publication__top _flex-between">
      <h1 class="h1">
        Мои публикации
      </h1>
      <a routerLink="/profile/publication/add" class="publication__btn m-btn m-btn-primary m-btn-bounce">
        <img src="assets/img/plus.svg" alt="">
        <span>Добавить мероприятие</span>
      </a>
    </div>

    <div class="publication__grid">
      <publication-card
        [publication] = publication
        (deletedPublicationId)="onPublicationDeleted($event)"
        *ngFor="let publication of publications"></publication-card>
    </div>
  </div>
</div>
