  <button class="_toggle-date-filter date-filter__show m-btn m-btn-primary m-btn-bounce"
          (click)="toggleCalendar()">
    <img src="assets/img/calendar.svg" alt="">
  </button>
  <div class="date-modal" [ngClass]="calendarActive ? '_active2' : '' ">
    <button class="close-btn">
      <img src="assets/img/close2.svg" alt="">
    </button>
    <button class="close-btn-mob"
            data-swipe-threshold="20"
            data-swipe-unit="px"
            data-swipe-timeout="500"
            data-swipe-ignore="false"
    ></button>
    <div class="date-input">
      <input type="text">
    </div>
  </div>
  <div class="date-modal__bg modal-bg _toggle-date-filter"></div>
