<div class="blog-card">
  <div class="blog-card__top">
    <a routerLink="/article/{{ article?.id }}" class="blog-card__img m-backdrop _scale-img">
      <img src="{{ article?.image }}" alt="">
    </a>

    <button class="favourite-btn _absolute m-btn-bounce"
            (click)="toggleFavorite()"
            [ngClass]="{'_added': article?.is_favorite}">
      <img src="assets/img/favourite.svg" alt="" class="_view1">
      <img src="assets/img/favourite2.svg" alt="" class="_view2">
    </button>

    <div class="blog-card__badges">
      <div class="m-badge" *ngFor="let category of article?.categories">
        <img src="{{ category.image }}" alt="">
        <span>{{ category.title }}</span>
      </div>
    </div>

    <div class="blog-card__badges2 _flex">
      <div class="day-badge">
        <div class="text16 bold-text">{{ article?.day }}</div>
        <div class="text10">{{ month }}</div>
      </div>
      <div class="blog-card__type">
        <span>{{ article?.type_title }}</span>
      </div>
    </div>
  </div>

  <div class="blog-card__content">
    <div class="blog-card__text text16 medium-text">
      {{ article?.description }}
    </div>
  </div>
</div>
