<div class="modal faq-modal" [ngClass]="isOpened ? '_active _active2' : ''" id="faqModal">
  <div class="modal__bg modal-bg _close-modal" (click)="closeModal()"></div>
  <div class="modal__dialog">
    <button class="close-btn _close-modal" (click)="closeModal()">
      <img src="assets/img/close2.svg" alt="">
    </button>
    <close-btn-mob (click)="closeModal()"></close-btn-mob>
    <div class="modal__top">
      <div class="text30 text24-tablet semi-bold-text">
        Вопросы/ответы
      </div>
    </div>
    <div class="modal__scroll">
      <div class="faq-group">
        <div class="text18 semi-bold-text">
          Вопросы без ответа
        </div>
        <div class="faq-group__items">
          <question-card
            (onSaveAnswer)="updateQuestions($event)"
            [question]="question"
            *ngFor="let question of questions"></question-card>
        </div>
      </div>
      <div class="faq-group">
        <div class="text18 semi-bold-text">
          Ответы
        </div>
        <answer-card
          *ngFor="let question of questionsWithAnswer"
          [questionsWithAnswer]="question"></answer-card>
      </div>
    </div>
  </div>
</div>
