<div class="profile__col">
  <div class="payment">
    <div class="publication__top _flex-between">
      <h1 class="h1">
        Оплата
      </h1>
      <button class="publication__btn m-btn m-btn-primary m-btn-bounce">
        <img src="assets/img/plus.svg" alt="">
        <span>Добавить реквизиты</span>
      </button>
    </div>

    <div class="payment__grid">
      <div class="payment__col">
        <div class="balance">
          <div class="balance__info">
            <div class="balance__title text20 semi-bold-text">
              Баланс:
            </div>
            <div class="balance__sum font2">
              125 000 ₽
            </div>
          </div>
          <img src="assets/img/currency.svg" alt="" class="balance__currency">
        </div>
        <button class="payment__btn m-btn m-btn-primary m-btn-bounce">
          <span>Вывести деньги</span>
        </button>
      </div>
      <div class="payment__col2">
        <div class="text18 font2 semi-bold-text">
          Реквизиты для вывода средств
        </div>
        <div class="payment__items">
          <div class="payment-item payment-item--bank">
            <div class="payment-item__title">
              Банковская карта
            </div>
            <div class="payment-item__wrap">
              <div class="payment-item__field fg">
                <input type="text" placeholder="Введите номер карты. Например:12">
                <div class="payment-item__img">
                  <img src="assets/img/payment.png" alt="">
                </div>
              </div>
              <div class="publication-card__nav _flex">
                <button class="publication-card__btn m-btn m-btn-primary m-btn-bounce">
                  <img src="assets/img/edit.svg" alt="">
                </button>
                <button class="publication-card__btn publication-card__btn--delete m-btn m-btn-bounce">
                  <img src="assets/img/delete.svg" alt="">
                </button>
              </div>
            </div>
          </div>
          <div class="payment-item">
            <div class="payment-item__title">
              Qiwi карта
            </div>
            <div class="payment-item__wrap">
              <div class="payment-item__field fg">
                <input type="text" placeholder="Введите Z-кошелек. Например:Z000">
                <div class="payment-item__img">
                  <img src="assets/img/payment2.png" alt="">
                </div>
              </div>
              <div class="publication-card__nav _flex">
                <button class="publication-card__btn m-btn m-btn-primary m-btn-bounce">
                  <img src="assets/img/edit.svg" alt="">
                </button>
                <button class="publication-card__btn publication-card__btn--delete m-btn m-btn-bounce">
                  <img src="assets/img/delete.svg" alt="">
                </button>
              </div>
            </div>
          </div>
          <div class="payment-item">
            <div class="payment-item__title">
              Кошелек WebMoney
            </div>
            <div class="payment-item__wrap">
              <div class="payment-item__field fg">
                <input type="text" placeholder="Введите Z-кошелек. Например:Z000">
                <div class="payment-item__img">
                  <img src="assets/img/payment3.png" alt="">
                </div>
              </div>
              <div class="publication-card__nav _flex">
                <button class="publication-card__btn m-btn m-btn-primary m-btn-bounce">
                  <img src="assets/img/edit.svg" alt="">
                </button>
                <button class="publication-card__btn publication-card__btn--delete m-btn m-btn-bounce">
                  <img src="assets/img/delete.svg" alt="">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
