<main class="content">
  <div class="events">
    <div class="container">
      <div class="events-slider slider _wheel">
        <div class="slider__wrap">
          <swiper-container class="event-swiper" init="false">
            <swiper-slide class="swiper-slide" *ngFor="let event of topEventsList">
              <event-card
                [isLogged]="isLogged"
                (onChangeFavorite)="updateNearestEventsList($event.eventId, $event.isFavorite)"
                [event]="event" class="event-card"></event-card>
            </swiper-slide>
          </swiper-container>
        </div>
        <swiper-nav></swiper-nav>
      </div>
    </div>
  </div>

  <div class="poster">
    <div class="container">
      <div class="poster__top _flex-between">
        <poster-info [title]="'Афиша мероприятий'"
                     [currentCity]="chosenCity"
                     (onAllCityModalButtonClick)="toggleCityModal($event)"></poster-info>
        <div class="poster__top-col2 _flex">
          <div class="search-block">
            <div class="fg search-field">
              <input class="_search-field" type="text" placeholder="Введите название мероприятие или имя мастера">
              <img src="assets/img/search.svg" alt="" class="search-field__icon">
            </div>
            <div *ngIf="false" class="search-block__results">
              <div class="search-block__items">
                <a href="" class="search-block__link">
                  Результат поиска
                </a>
                <a href="" class="search-block__link">
                  Результат поиска
                </a>
                <a href="" class="search-block__link">
                  Результат поиска
                </a>
                <a href="" class="search-block__link">
                  Результат поиска
                </a>
              </div>
            </div>
          </div>

          <button data-modal="paramModal"
                  (click)="toggleParamModal(true)"
                  class="poster__settings m-btn m-btn-primary m-btn-bounce">
            <img src="assets/img/settings.svg" alt="">
            <span>Параметры</span>
          </button>
        </div>
      </div>

      <div class="poster-filter">
        <date-feed class="date-feed"></date-feed>
        <date-filter class="date-filter _active2" [ngClass]="calendarActive ? '_active' : ''"
                     (onCalendarToggle)="toggleCalendarActive($event)"></date-filter>
      </div>
    </div>
  </div>

  <div class="events2">
    <div class="container">
      <div class="events2__top">
        <a href="" class="title-link">
          <span class="text34 text20-tablet">
              Ближайшие мероприятия
          </span>
        </a>
        <a routerLink="/events" class="arrow-link">
          <span class="_view1">
              Смотреть все
          </span>
          <span class="_view2">
              Все
          </span>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.1665 9.00011C12.1665 9.08159 12.1515 9.16228 12.1223 9.23755C12.093 9.31282 12.0501 9.38118 11.996 9.43872L6.18008 15.6424C5.95282 15.8848 5.58481 15.8848 5.3577 15.6424C5.13059 15.4 5.13044 15.0075 5.3577 14.7652L10.7625 9.00011L5.3577 3.23502C5.13044 2.99261 5.13044 2.60007 5.3577 2.35782C5.58496 2.11556 5.95296 2.11541 6.18008 2.35782L11.996 8.56151C12.0501 8.61904 12.093 8.68741 12.1223 8.76268C12.1515 8.83795 12.1665 8.91864 12.1665 9.00011Z"
              fill="black"/>
          </svg>
        </a>
      </div>
      <div class="events-slider2 slider">
        <div class="slider__wrap">
          <swiper-container class="event-swiper nearest-events" init="false">
            <swiper-slide class="swiper-slide" *ngFor="let event of nearestEvents">
              <event-card2
                [isLogged]="isLogged"
                (onChangeFavorite)="updateTopEventsList($event.eventId, $event.isFavorite)"
                [event]="event" class="event-card2"></event-card2>
            </swiper-slide>
          </swiper-container>
        </div>
        <swiper-nav></swiper-nav>
      </div>
    </div>
  </div>

  <div class="masters">
    <div class="container">
      <div class="events2__top">
        <a routerLink="/masters" class="title-link">
          <span class="text34 text20-tablet">
            Мастера недели
          </span>
        </a>
        <a routerLink="/masters" class="arrow-link">
          <span class="_view1">
            Смотреть все
          </span>
          <span class="_view2">
            Все
          </span>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.1665 9.00011C12.1665 9.08159 12.1515 9.16228 12.1223 9.23755C12.093 9.31282 12.0501 9.38118 11.996 9.43872L6.18008 15.6424C5.95282 15.8848 5.58481 15.8848 5.3577 15.6424C5.13059 15.4 5.13044 15.0075 5.3577 14.7652L10.7625 9.00011L5.3577 3.23502C5.13044 2.99261 5.13044 2.60007 5.3577 2.35782C5.58496 2.11556 5.95296 2.11541 6.18008 2.35782L11.996 8.56151C12.0501 8.61904 12.093 8.68741 12.1223 8.76268C12.1515 8.83795 12.1665 8.91864 12.1665 9.00011Z"
              fill="black"/>
          </svg>
        </a>
      </div>
      <div class="master-slider slider">
        <div class="slider__wrap">
          <swiper-container class="master-swiper" init="false">
            <swiper-slide class="swiper-slide" *ngFor="let master of mastersList">
              <master-card [master]="master" [isLogged]="isLogged" class="master-card"></master-card>
            </swiper-slide>
          </swiper-container>
        </div>
        <swiper-nav></swiper-nav>
      </div>
    </div>
  </div>
</main>
<city-modal *ngIf="isCityModalOpened"
            [isOpened]="isCityModalOpened"
            [chosenCity]="chosenCity"
            (onChoiceCity)="chooseCity($event)"
            modalType="events"
            (onCloseModal)="toggleCityModal($event)"></city-modal>
<param-modal [isOpened]="isParamModalOpened"
             (onCloseModal)="toggleParamModal($event)"></param-modal>
