<div class="container">
  <div class="event-desc__inner">
    <div class="event-desc__grid">
      <div class="event-desc__col">
        <div class="event-desc__title text20 text16-tablet bold-text">
          Описание
        </div>
        <div class="event-desc__text">
          <div class="text18 text16-tablet">{{ description }}</div>
        </div>
        <div class="event-desc__nav">
          <a href="" class="text16">Читать далее</a>
        </div>
      </div>
      <div class="event-desc__col2">
        <div class="event-desc__status" *ngIf="alreadyBooked">
          <img src="assets/img/success.svg" alt="">
          <span class="text14">Вы уже участник мероприятия</span>
        </div>
        <button class="event-desc__btn m-btn m-btn-primary m-btn-bounce">
          <span>Забронировать <ng-container *ngIf="alreadyBooked">еще места</ng-container></span>
        </button>
      </div>
    </div>

    <div class="events-slider2 slider events-slide-photo" [ngClass]="{'_hide-buttons': hideNavigation}">
      <div class="event-desc__title2 text20 text16-tablet bold-text" *ngIf="photos && photos.length > 0">
        Фото
      </div>
      <div class="slider__wrap">
        <swiper-container class="event-swiper-photo" init="false">
          <swiper-slide class="swiper-slide" *ngFor="let photo of photos">
            <div class="event-card2 event-card3">
              <div class="event-card2__top">
                <a href="" class="event-card2__img m-backdrop _scale-img">
                  <img src="{{ photo.file }}" alt="">
                </a>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
      <swiper-nav></swiper-nav>
    </div>

    <div class="event-contacts">
      <div class="event-contacts__title text16 bold-text">
        Контакты
      </div>
      <div class="event-contacts__items">
        <a href="" class="event-contacts__item" *ngIf="tg">
          <img src="assets/img/tg.svg" alt="">
          <span>{{ tg }}</span>
        </a>
        <a href="" class="event-contacts__item" *ngIf="whatsapp">
          <img src="assets/img/whatsapp.svg" alt="">
          <span>{{ whatsapp }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
