<main class="content">
  <div>{{ window.innerHeight }}</div>

  <div class="blog">
    <div class="container">
      <div class="text34 text20-tablet semi-bold-text">
        Статьи
      </div>
      <div class="filter" [ngClass]="{'_filters-selected': filtersSelected}">
        <param-filter [filterObjects]="filterObjects"></param-filter>
        <div class="filter__right">
          <sort></sort>
        </div>
      </div>
      <div class="masters-items">
        <blog-card *ngFor="let article of articles"
                   [img]="article.img"
                   [type]="article.type"
                   [date]="article.date"
                   [tags]="article.tags"
                   [favorite]="article.favorite"
                   [text]="article.text"></blog-card>
      </div>

      <button class="more-btn m-btn m-btn-primary m-btn-bounce">
        <span>Показать еще</span>
        <img src="assets/img/arrow-bottom.svg" alt="">
      </button>
    </div>
  </div>


</main>
