<div class="chat-item" [ngClass]="{_active: active}">
  <div class="avatar">
    <img src="assets/img/avatar.svg" alt="">
  </div>
  <div class="chat-item__content">
    <div class="chat-item__top">
      <div class="chat-item__name">
        Дарья Солодаева
      </div>
      <img src="assets/img/crone.svg" alt="" class="chat-item__crone">
    </div>
    <div class="chat-item__bottom">
      <div class="chat-item__text-wrap">
        <div class="chat-item__text">
          Ответ в 2 строки. Под  Ответ в 2 строки. Под
        </div>
      </div>
      <div class="chat-item__date">
        12:43
      </div>
    </div>
  </div>
</div>
