<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="" class="footer__logo">
        <img src="assets/img/logo2.svg" alt="">
      </a>
      <div class="footer-nav">
        <div class="text16 semi-bold-text">
          Партнерам и организаторам
        </div>
        <div class="footer-nav__links">
          <a href="" class="footer-nav__link"><span>Партнерам и оргинизаторам</span></a>
          <a href="" class="footer-nav__link"><span>Корпоративным клиентам</span></a>
        </div>
      </div>
      <form class="footer-subscribe">
        <div class="text16 semi-bold-text">
          Будьте всегда в курсе анонсов и событий!
        </div>
        <div class="footer-subscribe__wrap fg">
          <input type="text" placeholder="Ваш e-mail">
          <button class="footer-subscribe__btn m-btn m-btn-primary">
            <img src="assets/img/mail.svg" alt="">
          </button>
        </div>
      </form>
    </div>
    <div class="footer-categories">
      <div class="footer-categories__items">
        <a href="" class="footer-categories__item">Дыхание</a>
        <a href="" class="footer-categories__item">Цигун</a>
        <a href="" class="footer-categories__item">Йога</a>
        <a href="" class="footer-categories__item">Тантра</a>
        <a href="" class="footer-categories__item">Фестиваль</a>
        <a href="" class="footer-categories__item">Баня</a>
        <a href="" class="footer-categories__item">Семинар</a>
        <a href="" class="footer-categories__item">Танцы</a>
        <a href="" class="footer-categories__item">Спортивное мерприятие</a>
        <a href="" class="footer-categories__item">Мастер класс</a>
        <a href="" class="footer-categories__item">Шоу</a>
        <a href="" class="footer-categories__item">Общение</a>
        <a href="" class="footer-categories__item">Выставка</a>
        <a href="" class="footer-categories__item">Нейрографика</a>
        <a href="" class="footer-categories__item">Нетворкинг</a>
        <a href="" class="footer-categories__item">Игры</a>
        <a href="" class="footer-categories__item">Курсы</a>
        <a href="" class="footer-categories__item">Праздничное мероприятие</a>
        <a href="" class="footer-categories__item">Обучение</a>
        <a href="" class="footer-categories__item">Лекция</a>
        <a href="" class="footer-categories__item">Ретрит</a>
      </div>
      <div class="footer-categories__nav">
        <a href="" class="footer-categories__link">
          <span class="text12">Смотреть все</span>
          <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.99994 6.22224C3.9592 6.22228 3.91886 6.21427 3.88122 6.19867C3.84359 6.18308 3.80941 6.1602 3.78064 6.13135L0.678794 3.0295C0.557589 2.9083 0.557589 2.71203 0.678794 2.5909C0.799999 2.46978 0.996268 2.4697 1.1174 2.5909L3.99994 5.47345L6.88249 2.5909C7.0037 2.4697 7.19997 2.4697 7.32109 2.5909C7.44222 2.71211 7.4423 2.90838 7.32109 3.0295L4.21924 6.13135C4.19048 6.1602 4.1563 6.18308 4.11866 6.19867C4.08103 6.21427 4.04068 6.22228 3.99994 6.22224Z" fill="#BDDA13" />
          </svg>
        </a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="text14">
        2023 Все права защищены
      </div>
      <a href="" class="footer__c text14">
        Политика конфиденциальности
      </a>
    </div>
  </div>

</footer>
