<main class="content" *ngIf="true">

  <div class="master-item">
    <div class="container">
      <div class="master-item__grid">
        <div class="master-item__col">
          <div class="master-slider2 slider _loop m-backdrop" [ngClass]="{'_hide-buttons': hideNavigation}">
            <swiper-container class="master-swiper" init="false">
              <swiper-slide class="swiper-slide" *ngIf="master?.photo">
                <div class="master-slider2__img">
                  <img src="{{ master?.photo }}" alt="">
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide" *ngFor="let image of master?.additional_images">
                <div class="master-slider2__img">
                  <img src="{{ image.file }}" alt="">
                </div>
              </swiper-slide>
            </swiper-container>
            <swiper-nav></swiper-nav>
            <div class="swiper-pagination"></div>
          </div>
          <button class="master-item__btn m-btn m-btn-primary m-btn-bounce"
                  *ngIf="!masterIsSelfUser"
                  (click)="toggleCHatModal(true)">
            <img src="assets/img/email.svg" alt="">
            <span>Связаться с мастером</span>
          </button>
        </div>
        <div class="master-item__col2">
          <div class="master-item__subcol">
            <div class="master-top">
              <div class="master-top__name h1">
                {{ master?.full_name }}
              </div>
              <div class="master-badge" *ngIf="master?.is_master">
                <img src="assets/img/crone2.svg" alt="">
                <span>Мастер</span>
              </div>
            </div>
            <div class="master-prof" *ngIf="specialityList.length > 0">
              <div class="prof-badge" *ngFor="let speciality of specialityList">
                <div class="prof-badge__title">
                  {{ speciality.speciality }}
                </div>
                <div class="prof-badge__years" *ngIf="speciality.experience">
                  <span>{{ speciality.experience }}</span>
                </div>
              </div>
            </div>
            <div class="master-info">
              <div class="h4">
                Информация о мастере
              </div>
              <div class="text" [innerHTML]="master?.about_me | paragraphText"></div>
            </div>
          </div>
          <div class="master-item__subcol2">
            <div class="master-contacts">
              <div class="contact-item _last" *ngIf="master?.city?.value">
                <div class="h3">
                  Город
                </div>
                <div class="contact-item__desc">
                  <div class="contact-item__place medium-text">
                    <img src="assets/img/marker2.svg" alt="">
                    <span>{{ master?.city?.value }}</span>
                  </div>
                </div>
              </div>
              <div class="contact-item">
                <div class="h3">
                  Контакты
                </div>
                <div class="contact-item__desc">
                  <a href="tel:+7{{ master?.phone }}" class="contact-item__link font2">
                    <img src="assets/img/phone.svg" alt="">
                    <span>{{ master?.phone }}</span>
                    <!--                    <span>+7 (3812) 35-30-37</span>-->
                  </a>
                </div>
                <div class="contact-item__desc">
                  <a href="mailto:{{ master?.email }}" class="contact-item__link">
                    <img src="assets/img/mail2.svg" alt="">
                    <span>{{ master?.email }}</span>
                  </a>
                </div>
              </div>
              <div
                *ngIf="socialObject?.youtube || socialObject?.instagram || socialObject?.vk || socialObject?.tg"
                class="contact-item">
                <div class="h3">
                  Ссылка на каналы
                </div>
                <socials [socialObject]="socialObject"></socials>
              </div>
            </div>
            <div class="event-action">
              <button class="favourite-btn _absolute m-btn-bounce"
                      *ngIf="isLogged"
                      (click)="toggleFavorite()"
                      [ngClass]="{'_added': master?.is_favorite}">
                <img src="assets/img/favourite3.svg" alt="" class="_view1">
                <img src="assets/img/favourite2.svg" alt="" class="_view2">
              </button>
              <button (click)="toggleShareModal(true)" class="share-btn">
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="44" height="44" rx="22" stroke="#BDDA13"></rect>
                  <g clip-path="url(#clip0_40_9954)">
                    <path
                      d="M27.5931 25.2183C26.7153 25.2183 25.9207 25.5814 25.3503 26.1649L20.4204 23.2869C20.5012 23.0089 20.5469 22.7163 20.5469 22.4123C20.5469 22.1226 20.5044 21.8431 20.431 21.5767L25.3235 18.8049C25.8956 19.4053 26.7008 19.7813 27.5936 19.7813C29.3252 19.7813 30.7343 18.3727 30.7343 16.6403C30.7343 14.9086 29.3252 13.5 27.5936 13.5C25.8621 13.5 24.453 14.9086 24.453 16.6403C24.453 16.93 24.4954 17.2095 24.5694 17.4765L19.6767 20.2486C19.1046 19.6481 18.2993 19.2721 17.4066 19.2721C15.6749 19.2721 14.2664 20.6806 14.2664 22.4129C14.2664 24.1445 15.6749 25.5532 17.4066 25.5532C18.2851 25.5532 19.079 25.1901 19.6499 24.6066L24.5793 27.4846C24.4987 27.763 24.4526 28.0562 24.4526 28.3595C24.4526 30.0917 25.8617 31.5 27.593 31.5C29.3249 31.5 30.734 30.0917 30.734 28.3595C30.734 26.6271 29.3249 25.2183 27.5931 25.2183Z"
                      fill="#BDDA13"></path>
                  </g>
                </svg>
                <span class="text18">Поделиться</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="events2" *ngIf="showUpcomingEventsSlider">
    <div class="container">
      <div class="events2__top">
        <a href="" class="title-link">
            <span class="text34 text20-tablet">
                Ближайшие мероприятия мастера
            </span>
        </a>
      </div>
      <div class="events-slider2 events-slider3 slider events-slider-master">
        <div class="slider__wrap">
          <swiper-container class="event-swiper-master-upcoming" init="false">
            <swiper-slide class="swiper-slide swiper-slide-padding" *ngFor="let event of upcomingMasterEvents">
              <event-card3 [event]="event"></event-card3>
            </swiper-slide>
          </swiper-container>
        </div>
        <swiper-nav [index]="'upcoming'"></swiper-nav>
      </div>
    </div>
  </div>

  <div class="events2" *ngIf="showPastEventsSlider">
    <div class="container">
      <div class="events2__top">
        <a href="" class="title-link">
            <span class="text34 text20-tablet">
                Прошедшие мероприятия мастера
            </span>
        </a>
      </div>
      <div class="events-slider2 events-slider3 slider events-slider-master">
        <div class="slider__wrap">
          <swiper-container class="event-swiper-master-past" init="false">
            <swiper-slide class="swiper-slide swiper-slide-padding" *ngFor="let event of pastMasterEvents">
              <event-card3 [event]="event"></event-card3>
            </swiper-slide>
          </swiper-container>
        </div>
        <swiper-nav [index]="'past'"></swiper-nav>
      </div>
    </div>
  </div>

  <div class="master-claim">
    <div class="container">
      <button class="question-form__claim m-btn m-btn-gray m-btn-bounce" (click)="toggleClaimModal(true)">
        <img src="assets/img/info-icon.svg" alt="">
        <span>Пожаловаться на мастера</span>
      </button>
    </div>
  </div>
</main>


<claim-modal
  type="master"
  [id]="masterId!"
  (onCloseModal)="toggleClaimModal($event)"
  [isOpen]="isClaimModalOpen">
</claim-modal>
<chat-modal [companion]="companion"
            (onCloseModal)="toggleCHatModal($event)"
            *ngIf="isChatModalOpen"></chat-modal>
<share-modal
  [isOpen]="isShareModalOpen"
  [url]="window.location.href"
  (onCloseModal)="toggleShareModal($event)"></share-modal>
