<div class="notification-card">
  <div class="faq-card__badge">
    <span>Новое уведомление</span>
  </div>
  <div class="notification-card__info _flex-between">
    <div class="notification-card__title text18">
      Жалоба принята
    </div>
    <div class="notification-card__date text14">
      14.03.23
    </div>
  </div>
  <div class="notification-card__desc text16">
    Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </div>
</div>
