<div class="img-field">
  <div class="img-field__preview" [ngStyle]="{'background-image': 'url(' + userPhoto+ ')'}">
  </div>
  <div class="img-field__input">
    <button class="m-link">
      Изменить фото
      <input type="file" accept="image/*" #photoImage (change)="onFileSelected($event, photoImage)">
    </button>
  </div>
  <div class="img-field__delete">
    <button class="m-link" (click)="toggleDeleteModal(true)">
      Удалить
    </button>
  </div>
</div>
<confirm-modal
  (onCloseModal)="toggleDeleteModal($event)"
  (onConfirmClick)="deleteUserPhoto()"
  [isOpen]="isOpenConfirmModal"
  [text]="'Вы действительно хотите удалить фотографию?'"></confirm-modal>
