<div class="user-settings">
  <div class="user-settings__item">
    <div class="user-settings__title">
      Получать уведомления <br> на сайте?
    </div>
    <div class="m-switch">
      <input type="checkbox">
      <label></label>
    </div>
  </div>
  <div class="user-settings__item">
    <div class="user-settings__title">
      Получать уведомления <br> на почту?
    </div>
    <div class="m-switch">
      <input type="checkbox">
      <label></label>
    </div>
  </div>
  <div class="user-settings__item">
    <div class="user-settings__title">
      Получать уведомления <br>
      о мастерах и мероприятиях?
    </div>
    <div class="m-switch">
      <input type="checkbox">
      <label></label>
    </div>
  </div>
  <div class="user-settings__item">
    <div class="user-settings__title">
      Получать уведомления <br>
      о новостях и нововведениях сайта?
    </div>
    <div class="m-switch">
      <input type="checkbox">
      <label></label>
    </div>
  </div>
  <div class="user-settings__item" *ngIf="true">
    <div class="user-settings__title">
      Получать уведомления <br>
      о бронировании мероприятий?
    </div>
    <div class="m-switch">
      <input type="checkbox">
      <label></label>
    </div>
  </div>
  <div class="user-settings__item">
    <div class="user-settings__title">
      Получать уведомления <br>
      о вопросах к мероприятиям?
    </div>
    <div class="m-switch">
      <input type="checkbox">
      <label></label>
    </div>
  </div>
</div>
