<div class="user-type">
  <div class="user-type__items" [formGroup]="userTypeForm">
    <div class="user-type__item" [ngClass]="{'_loading': userStatus === 4}">
      <div class="user-type__item-inner">
        <div class="m-check">
          <input type="radio" name="userType"
                 [value]="1"
                 formControlName="userType"
                 [checked]="userStatus === 1">
          <label>
            <span>
                Пользователь
            </span>
          </label>
        </div>
        <div class="hint">
          <button class="hint__btn">
            <img src="assets/img/info-icon2.svg" alt="">
          </button>
          <div class="hint__tooltip">
            <div class="hint__inner _triangle">
              <div class="hint__text">
                Пользователю доступны все функции сайта, за исключением возможности взимать предоплату за бронирование
                мероприятий
              </div>
            </div>
          </div>
        </div>
      </div>
      <spinner></spinner>
      <div class="user-type__item-hint">
        <div class="text12">
          Идет проверка для смены типа профиля
        </div>
      </div>
    </div>
    <div class="user-type__item" [ngClass]="{'_loading': userStatus === 2}">
      <div class="user-type__item-inner">
        <div class="m-check">
          <input type="radio" name="userType"
                 [value]="3"
                 formControlName="userType"
                 [checked]="userStatus === 3">
          <label>
            <img src="assets/img/crone.svg" alt="">
            <span>
                Мастер
            </span>
          </label>
        </div>
        <div class="hint">
          <button class="hint__btn">
            <img src="assets/img/info-icon2.svg" alt="">
          </button>
          <div class="hint__tooltip">
            <div class="hint__inner _triangle">
              <div class="hint__text">
                Мастер получает свою страницу в разделе мастеров и возможность принимать предоплату за бронирование
                мероприятий
              </div>
            </div>
          </div>
        </div>
      </div>
      <spinner></spinner>
      <div class="user-type__item-hint">
        <div class="text12">
          Идет проверка для смены типа профиля
        </div>
      </div>
    </div>
  </div>
  <div class="user-type__nav">
    <button class="user-type__btn m-btn m-btn-primary-outline"
            (click)="changeUserType()"
            [ngClass]="{'m-btn-bounce': !buttonChangeTypeDisabled}"
            [disabled]="buttonChangeTypeDisabled">
      <span>Сменить тип профиля</span>
    </button>
  </div>
</div>

