<div class="faq-card" [ngClass]="{_new: !question?.read_by_author, _open: isAnswerFormOpened}">
  <div class="faq-card__top _flex">
    <div class="avatar">
      <img src="{{ question?.author_photo }}" alt="">
    </div>
    <div class="faq-card__info">
      <div class="faq-card__wrap _flex">
        <div class="faq-card__name">
          {{ question?.author_full_name }}
        </div>
        <div class="faq-card__badge">
          <span>Новый вопрос</span>
        </div>
      </div>
      <div class="faq-card__date">
        <span>{{ question?.created_at | date: 'dd.MM.yyyy, HH:mm' }}</span>
      </div>
    </div>
  </div>
  <div class="faq-card__desc text16">
    {{ question?.text }}
  </div>
  <div class="faq-card__nav" *ngIf="!isAnswerFormOpened">
    <button
      (click)="toggleAnswerForm()"
      class="faq-card__btn _toggle-faq-answer m-btn m-btn-primary m-btn-bounce">
      <span>Ответить</span>
    </button>
  </div>
  <div class="faq-card__nav" *ngIf="isAnswerFormOpened">
    <button
      (click)="toggleAnswerForm()"
      class="faq-card__btn _toggle-faq-answer m-btn m-btn-gray m-btn-bounce">
      <span>Отменить</span>
    </button>
  </div>
  <div class="faq-card__answer fg" [formGroup]="answerForm"
       [ngClass]="{'_error': answerForm.get('answer')?.invalid &&
       (answerForm.get('answer')?.dirty && answerForm.get('answer')?.touched)}">
    <div class="fg question-form__field m-text-field">
      <textarea maxlength="{{ maxAnswerLength }}"
                placeholder="Введите ответ на вопрос. Минимум символов: {{ minAnswerLength }}"
                formControlName="answer"></textarea>
    </div>
    <div class="fg__error-text" *ngIf="answerForm.get('answer')?.errors?.['minlength']">
      <div class="text12">Введите минимум {{ minAnswerLength }} символов!</div>
    </div>
    <div class="fg__error-text" *ngIf="answerForm.get('answer')?.errors?.['maxlength']">
      <div class="text12">Максимальная длина ответа {{ maxAnswerLength }} символов!</div>
    </div>
    <div class="fg__error-text" *ngIf="answerForm.get('answer')?.errors?.['required']">
      <div class="text12">Обязательное поле</div>
    </div>
    <div class="question-form__nav">
      <div class="question-form__buttons">
        <button class="question-form__btn m-btn m-btn-primary" (click)="proceed(question?.event?.toString())">
          <span>Ответить</span>
        </button>
        <button class="_toggle-faq-answer question-form__btn m-btn m-btn-gray" (click)="toggleAnswerForm()">
          <span>Отменить</span>
        </button>
      </div>
      <div class="question-form__info">
        Всего символов <span class="question-form__field-count">{{ answerForm.get('answer')?.value?.length }}</span>/{{ maxAnswerLength }}
      </div>
    </div>
  </div>
</div>
