<div class="modal" [ngClass]="isOpen ? '_active _active2' : ''" id="regModal">
  <div class="modal__bg modal-bg _close-modal" (click)="closeModal()"></div>
  <div class="modal__dialog">
    <button class="close-btn _close-modal" (click)="closeModal()">
      <img src="assets/img/close2.svg" alt="">
    </button>
    <close-btn-mob (click)="closeModal()"></close-btn-mob>
    <div class="modal__top text-center">
      <div class="text30 text24-tablet semi-bold-text">
        Смена пароля
      </div>
    </div>
    <div class="modal__scroll">
      <section class="modal-form modal-form3" [formGroup]="changePasswordForm">
        <div class="modal-form__pass">
          <fieldset class="fg">
            <label>Старый пароль</label>
            <div class="fg" [ngClass]="{'_error': changePasswordForm.get('oldPassword')?.invalid &&
           (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched) || (errors && errors.detail)}">
              <div class="fg__field">
                <input [type]="isOldPasswordShowed ? 'text' : 'password'"
                       placeholder="Пароль" formControlName="oldPassword">
                <button type="button" class="pass-toggle"
                        [ngClass]="{'_active': isOldPasswordShowed}"
                        (click)="togglePasswordShow('isOldPasswordShowed')">
                  <img src="assets/img/pass.svg" alt="" class="_view1">
                  <img src="assets/img/pass2.svg" alt="" class="_view2">
                </button>
              </div>
              <div class="fg__error-text">
                <div class="text12" *ngIf="changePasswordForm.get('oldPassword')?.invalid
                && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)
                && changePasswordForm.get('oldPassword')?.errors?.['required']">
                  Обязательное поле
                </div>
                <div class="text12" *ngIf="errors && errors?.detail">
                  {{ errors?.detail }}
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-form__pass">
          <fieldset class="fg">
            <label>Новый пароль</label>
            <div class="fg" [ngClass]="{'_error': changePasswordForm.get('newPassword')?.invalid
            && changePasswordForm.get('newPassword')?.touched || (errors && errors.new_password)}">
              <div class="fg__field">
                <input [type]="isNewPasswordShowed ? 'text' : 'password'"
                       placeholder="Пароль" formControlName="newPassword">
                <button type="button" class="pass-toggle"
                        [ngClass]="{'_active': isNewPasswordShowed}"
                        (click)="togglePasswordShow('isNewPasswordShowed')">
                  <img src="assets/img/pass.svg" alt="" class="_view1">
                  <img src="assets/img/pass2.svg" alt="" class="_view2">
                </button>
              </div>
              <div class="fg__error-text">
                <div class="text12" *ngIf="changePasswordForm.get('newPassword')?.invalid
                && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)
                && changePasswordForm.get('newPassword')?.errors?.['required']">
                  Обязательное поле
                </div>
                <div class="text12" *ngIf="changePasswordForm.get('newPassword')?.invalid
                && changePasswordForm.get('newPassword')?.touched
                && changePasswordForm.get('newPassword')?.errors?.['pattern']">
                  Пароль должен содержать хотя бы одну прописную и одну строчную латинскую букву,
                  а также цифру и спецсимвол (!&#64;#$%^&*()_+-=[]&#123;&#125;;':"\\|,.<>/?). Минимальная длина 8 символов.
                </div>
                <div class="text12" *ngIf="errors && errors?.new_password"
                     [innerHTML]="errors.new_password!.join('<br>')"></div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-form__pass">
          <fieldset class="fg">
            <label>Повторите пароль</label>
            <div class="fg" [ngClass]="{'_error': changePasswordForm.get('confirmPassword')?.invalid &&
           (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)}">
              <div class="fg__field">
                <input [type]="isConfirmPasswordShowed ? 'text' : 'password'"
                       placeholder="Повторите пароль" formControlName="confirmPassword">
                <button type="button" class="pass-toggle"
                        [ngClass]="{'_active': isConfirmPasswordShowed}"
                        (click)="togglePasswordShow('isConfirmPasswordShowed')">
                  <img src="assets/img/pass.svg" alt="" class="_view1">
                  <img src="assets/img/pass2.svg" alt="" class="_view2">
                </button>
              </div>
              <div class="fg__error-text">
                <div class="text12">Пароли не совпадают</div>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="m-btn m-btn-primary m-btn-bounce"
                [ngClass]="{'m-btn-bounce': changePasswordForm.valid}"
                [disabled]="changePasswordForm.invalid" (click)="proceed()">
          <span>Продолжить</span>
        </button>
      </section>
    </div>
  </div>
</div>

