<div class="container">
  <div class="address__inner">
    <div class="h2">
      Адрес
    </div>
    <div class="map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Af8dc64fa4b6c1add79573006df46c7c7a1d992ce6d2e5c7892eaab88d8eaa5aa&amp;source=constructor"
        width="100%"
        height="400"
        frameborder="0">
      </iframe>
    </div>
    <div class="address__street _flex">
      <img src="assets/img/marker.svg" alt="">
      <span class="text18 text16-tablet">Москва, ул. Николаева д.34</span>
    </div>
  </div>
</div>
