.event-item__top {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 532px;
  border-radius: 1.875em;
}


@media screen and (max-width: 576px){

  .event-item__top {
    background-image: none!important;
    background-position: unset;
    background-repeat: unset;
    height: unset;
    border-radius: unset;
  }

}
