<div class="container">
  <div class="event-item__top" [ngStyle]="{'background-image': 'url(' + event?.image+ ')'}">
<!--    <img src="{{ event?.image }}" alt="" class="event-item__img _view1">-->
    <img src="{{ event?.image }}" alt="" class="event-item__img _view2">
    <div class="event-item__badges">
      <div class="event-item__time">
        <div class="event-item__time-date">
          <div class="text24 text14-tablet">{{ event?.day }} {{ month }}</div>
        </div>
        <div class="event-item__time-hours">
          <div class="text24 text14-tablet">15:00!</div>
        </div>
      </div>
      <div class="event-premium" *ngIf="event?.is_master">
        <div class="event-premium__show">
          <img src="assets/img/crone.svg" alt="">
        </div>
        <div class="event-premium__hidden">
          <div class="event-premium__inner _triangle">
            <div class="text12">Мероприятие от мастера</div>
          </div>
        </div>
      </div>
    </div>
    <div class="event-item__duration">
      <img src="assets/img/clock.svg" alt="">
      <div class="text18 text14-tablet">
        <span class="_hide-tablet">Длительность:</span>
        <span class="medium-text">{{ periodLabel }}</span>
      </div>
    </div>
    <div class="event-item__badges2 _flex">
      <div class="m-badge _hide-tablet" *ngFor="let category of event?.categories">
        <img src="assets/img/marker.svg" alt="" *ngIf="!category.image">
        <img src="{{ category.image }}" alt="" *ngIf="category.image">
        <span class="text16">{{ category.title }}</span>
      </div>
      <div class="m-badge">
        <img src="{{ event?.suit_image }}" alt="">
        <span class="text16">{{ event?.suit_title }}</span>
      </div>
    </div>
  </div>
  <div class="event-item__bottom">
    <div class="event-item__col">
      <div class="event-item__title text34 text20-tablet semi-bold-text">
        {{ event?.title }}
      </div>
      <div class="event-item__wrap _flex">
        <a routerLink="/master/{{ event?.author }}" class="event-card2__master _flex">
          <div class="avatar">
            <img src="{{ event?.author_photo }}" alt="">
          </div>
          <span class="text20 text16-tablet">{{ event?.author_full_name }}</span>
        </a>
        <div class="event-item__street _flex">
          <img src="assets/img/marker.svg" alt="">
          <span class="text18 text16-tablet">{{ address }}</span>
        </div>
      </div>
      <div class="event-item__badges3 _flex">
        <div class="m-badge" *ngFor="let category of event?.categories">
          <img src="assets/img/marker.svg" alt="" *ngIf="!category.image">
          <img src="{{ category.image }}" alt="" *ngIf="category.image">
          <span class="text16">{{ category.title }}</span>
        </div>
      </div>
    </div>
    <div class="event-item__col2">
      <div class="event-action">
        <button class="favourite-btn _absolute m-btn-bounce"
                *ngIf="isLoggedIn"
                (click)="toggleFavorite()"
                [ngClass]="{'_added': event?.is_favorite}">
          <img src="assets/img/favourite3.svg" alt="" class="_view1">
          <img src="assets/img/favourite2.svg" alt="" class="_view2">
        </button>
        <a href="" class="share-btn">
          <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="44" height="44" rx="22" stroke="#BDDA13"/>
            <g clip-path="url(#clip0_40_9954)">
              <path d="M27.5931 25.2183C26.7153 25.2183 25.9207 25.5814 25.3503 26.1649L20.4204 23.2869C20.5012 23.0089 20.5469 22.7163 20.5469 22.4123C20.5469 22.1226 20.5044 21.8431 20.431 21.5767L25.3235 18.8049C25.8956 19.4053 26.7008 19.7813 27.5936 19.7813C29.3252 19.7813 30.7343 18.3727 30.7343 16.6403C30.7343 14.9086 29.3252 13.5 27.5936 13.5C25.8621 13.5 24.453 14.9086 24.453 16.6403C24.453 16.93 24.4954 17.2095 24.5694 17.4765L19.6767 20.2486C19.1046 19.6481 18.2993 19.2721 17.4066 19.2721C15.6749 19.2721 14.2664 20.6806 14.2664 22.4129C14.2664 24.1445 15.6749 25.5532 17.4066 25.5532C18.2851 25.5532 19.079 25.1901 19.6499 24.6066L24.5793 27.4846C24.4987 27.763 24.4526 28.0562 24.4526 28.3595C24.4526 30.0917 25.8617 31.5 27.593 31.5C29.3249 31.5 30.734 30.0917 30.734 28.3595C30.734 26.6271 29.3249 25.2183 27.5931 25.2183Z" fill="#BDDA13"/>
            </g>
          </svg>
          <span class="text18">Поделиться</span>
        </a>
        <div class="event-action__price">
          <div class="text24 text14-tablet" *ngIf="!event?.is_free">
            <span class="_hide-tablet">от</span> {{ event?.price | toInt }}₽
          </div>
          <div class="text24 text14-tablet" *ngIf="event?.is_free">Бесплатно</div>
        </div>
      </div>
    </div>
  </div>
</div>
