<div class="poster _not-hidden">
  <div class="container">
    <div class="poster__top _flex-between">
      <poster-info [title]="'Мероприятия'"
                   [currentCity]="chosenCity"
                   (onAllCityModalButtonClick)="toggleCityModal($event)"></poster-info>
    </div>

    <div class="poster-filter">
      <date-feed class="date-feed"></date-feed>
      <date-filter class="date-filter _active2" [ngClass]="calendarActive ? '_active' : ''"
                   (onCalendarToggle)="toggleCalendarActive($event)"></date-filter>
    </div>

    <div class="filter" [ngClass]="{'_filters-selected': filtersSelected}">
      <param-filter [filterObjects]="filterObjects"></param-filter>
      <div class="filter__right">
        <sort></sort>
      </div>
    </div>

    <div class="events-items">
      <event-card2 *ngFor="let event of events" [event]="event" [isLogged]="isLogged" class="event-card2"></event-card2>
    </div>

    <button class="more-btn m-btn m-btn-primary m-btn-bounce"
            *ngIf="showMoreButton"
            (click)="getEventsResponse(offset)">
      <span>Показать еще</span>
      <img src="assets/img/arrow-bottom.svg" alt="">
    </button>
  </div>
</div>
<city-modal [isOpened]="isCityModalOpened"
            [chosenCity]="chosenCity"
            (onChoiceCity)="chooseCity($event)"
            (onCloseModal)="toggleCityModal($event)"></city-modal>
<param-modal [isOpened]="isParamModalOpened"
             (onCloseModal)="toggleParamModal($event)"></param-modal>
