<div class="chat-area" *ngIf="companion">
  <div class="chat-area__top" [ngClass]="{_end: !isChatPage}">
    <button class="chat-area__back m-btn m-btn-primary-outline"
            *ngIf="isChatPage"
            (click)="closeChat()">
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-3.49691e-07 7L7.5 0.0717961L7.5 13.9282L-3.49691e-07 7Z" fill="#BDDA13" />
      </svg>
      <span>Назад</span>
    </button>
    <div class="chat-area__title text30 semi-bold-text">
      Чат с
    </div>
    <a routerLink="/master/{{ companion.id }}" class="event-card2__master _flex">
      <div class="avatar">
        <img src="{{ companion?.photo }}" alt="">
      </div>
      <span class="text16 text14-tablet">{{ companion?.full_name }}</span>
      <img *ngIf="companion?.is_master" src="assets/img/crone.svg" alt="" class="chat-area__crone">
    </a>
  </div>
  <div class="chat-area__content">
    <div class="chat-area__scroll" #scrollContainer>
      <div class="messages" *ngFor="let chatSection of chat">
        <div class="messages__date">
          <span>{{ getRussianMonthName(chatSection.date, false, true) }}</span>
        </div>
        <div class="message-item" [ngClass]="{_self: message.sender_is_user}" *ngFor="let message of chatSection.messages">
          <a routerLink="/master/{{ companion.id }}" class="avatar m-btn-bounce" *ngIf="!message.sender_is_user">
            <img src="{{ message.sender_photo }}" alt="">
          </a>
          <div class="message-item__content">
            <a routerLink="/master/{{ companion.id }}" class="message-item__name" *ngIf="!message.sender_is_user">
                            <span class="text16 semi-bold-text">
                                {{ message.sender_full_name }}
                            </span>
              <img src="assets/img/crone.svg" alt="" class="chat-area__crone">
            </a>
            <div class="message-item__text">
              <div class="text16">
                {{ message.text }}
              </div>
            </div>
            <div class="message-item__time">
              <div class="text14">
                {{ message.created_at | date:'HH:mm' }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="message-item" *ngIf="isTyping">
        <a routerLink="/master/{{ companion.id }}" class="avatar m-btn-bounce">
          <img src="{{ companion?.photo }}" alt="">
        </a>
        <div class="message-item__content">
          <a routerLink="/master/{{ companion.id }}" class="message-item__name">
                            <span class="text16 semi-bold-text">
                                {{ companion?.full_name }}
                            </span>
            <img *ngIf="companion?.is_master" src="assets/img/crone.svg" alt="" class="chat-area__crone">
          </a>
          <div class="message-item__animate _flex">
            <div class="loader">
              <div class="loader__circle"></div>
              <div class="loader__circle"></div>
              <div class="loader__circle"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="chat-area__bottom" [formGroup]="chatForm">
    <div class="fg">
      <input type="text"
             (keydown)="onKeyPress($event)"
             formControlName="message"
             placeholder="Напишите...">
    </div>
    <button class="chat-area__btn m-btn m-btn-primary m-btn-bounce"
            (click)="sendMessage()"
            [disabled]="chatForm.invalid">
      <img src="assets/img/send.svg" alt="">
    </button>
  </div>
</div>
