<div class="note-card note-card2">
  <div class="note-card2__top">
    <a href="" class="note-card__img m-backdrop _scale-img">
      <img src="assets/img/{{ image }}" alt="">
    </a>
    <div class="day-badge _big">
      <div class="text24 bold-text font2">15</div>
      <div class="text12">Декабря</div>
    </div>
    <a href="" class="note-card__info _flex">
      <div class="avatar m-btn-bounce">
        <img src="assets/img/avatar.webp" alt="">
      </div>
      <div class="note-card__title">
        <span>{{ title }}</span>
      </div>
    </a>
    <button class="favourite-btn _absolute _added m-btn-bounce">
      <img src="assets/img/favourite.svg" alt="" class="_view1">
      <img src="assets/img/favourite2.svg" alt="" class="_view2">
    </button>
  </div>
  <div class="note-card2__content">
    <div class="note-card2__settings _flex-between">
      <div class="note-card2__settings-title">
        Получать уведомления?
      </div>
      <div class="m-switch">
        <input type="checkbox">
        <label></label>
      </div>
    </div>
  </div>
</div>
