<div class="note-card note-card2">
  <div class="note-card2__top">
    <a href="/event/{{ event?.id }}" class="note-card__img m-backdrop _scale-img">
      <img src="{{ event?.image }}" alt="">
    </a>
    <div class="day-badge _big">
      <div class="text24 bold-text font2">{{ event?.day }}</div>
      <div class="text12">{{ month }}</div>
    </div>
    <a routerLink="/event/{{ event?.id }}" class="note-card__info _flex">
      <a routerLink="/master/{{ event?.author }}" class="avatar m-btn-bounce">
        <img src="{{ event?.author_photo }}" alt="">
      </a>
      <div class="note-card__title">
        <span>{{ event?.title }}</span>
      </div>
    </a>
    <button class="favourite-btn _absolute m-btn-bounce"
            (click)="toggleFavorite()"
            [ngClass]="{'_added': event?.is_favorite}">
      <img src="assets/img/favourite.svg" alt="" class="_view1">
      <img src="assets/img/favourite2.svg" alt="" class="_view2">
    </button>
  </div>
  <div class="note-card2__content">
    <div class="note-card2__settings _flex-between">
      <div class="note-card2__settings-title">
        Получать уведомления?
      </div>
      <div class="m-switch">
<!--        ToDo доработать функционал -->
        <input type="checkbox" disabled>
        <label></label>
      </div>
    </div>
  </div>
</div>
