<div class="swiper-nav">
  <div class="swiper-button swiper-button-prev" id="swiper-button-prev-{{ index }}">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M27.0008 14L16.7988 24.202L27.0008 34.404" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </div>
  <div class="swiper-button swiper-button-next" id="swiper-button-next-{{ index }}">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.9992 34L31.2012 23.798L20.9992 13.596" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </div>
</div>
