<div class="container">
  <div class="events2__top">
    <a href="" class="title-link">
            <span class="text34 text20-tablet">
                {{ title }}
            </span>
    </a>
  </div>
  <div class="events-slider2 events-slider3 slider events-slider-history" [ngClass]="{'_hide-buttons': true}">
    <div class="slider__wrap">
      <swiper-container class="event-swiper-history" init="false">
        <swiper-slide class="swiper-slide" *ngFor="let event of tmpEvent">
          <event-card3 [event]="event"></event-card3>
        </swiper-slide>
      </swiper-container>
    </div>
    <swiper-nav></swiper-nav>
  </div>
</div>
