<div class="param-slider" [ngStyle]="{'z-index': zIndex, 'position': 'relative'}">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <param-filter-item *ngFor="let filter of filterObjects; index as i"
                         [filterTitle]="filter.title"
                         [filterOptions]="filter.options"
                         [defaultOption]="filter.defaultOption ? filter.defaultOption : defaultOption"
                         [index]="i"
                         [search]="filter.search"
                         [multi]="filter.multi ? filter.multi : false"
                         (onDropdownOpen)="isFilterOpen($event)">
      </param-filter-item>
    </div>
  </div>
</div>
