<div class="profile__col">
  <div class="chat _open2" [ngClass]="{_open: isOpenedChat}">
    <h1 class="h1">
      Сообщения
    </h1>

    <div class="chat__grid">
      <div class="chat__col">
        <div class="text20 semi-bold-text">
          Все чаты
        </div>
        <div class="fg search-field">
          <input type="text" placeholder="Поиск по диалогам" [(ngModel)]="searchText" (input)="search()">
          <img src="assets/img/search.svg" alt="" class="search-field__icon">
        </div>
        <div class="chat__list">
          <chat-item-card *ngFor="let dialog of dialogList"
                          [dialog]="dialog"
                          [active]="selectedChatIndex === dialog.id"
                          (click)="openChat(dialog.id, dialog.companion)"></chat-item-card>
        </div>
      </div>
      <div class="chat__col2">
        <chat-area [companion]="currentCompanion"
                   (onSendMessage)="getDialogList()"
                   [isChatPage]="true"
                   (onCloseChat)="closeChat()"></chat-area>
      </div>
    </div>
  </div>
</div>
