<div class="socials">
  <a [href]="socialObject?.youtube" class="socials__item" *ngIf="socialObject?.youtube">
    <img src="assets/img/youtube.svg" alt="">
  </a>
  <a [href]="socialObject?.tg" class="socials__item" *ngIf="socialObject?.youtube">
    <img src="assets/img/tg2.svg" alt="">
  </a>
  <a [href]="socialObject?.vk" class="socials__item" *ngIf="socialObject?.vk">
    <img src="assets/img/vk.svg" alt="">
  </a>
  <a [href]="socialObject?.instagram" class="socials__item _ig" *ngIf="socialObject?.instagram">
    <img src="assets/img/ig.svg" alt="">
  </a>
</div>

