<main class="content">

  <div class="event-item">
    <event-item (updateEvent)="getEvent()" [address]="address" [event]="event"></event-item>
  </div>

  <div class="event-desc">
    <event-desc
      [description]="event?.description"
      [whatsapp]="event?.whatsapp"
      [tg]="event?.telegram"
      [photos]="event?.additional_images"
      [isLogged]="isLogged"
      [eventId]="eventId"
      [placesBooked]="placesBooked"></event-desc>
  </div>

  <div class="questions">
    <event-questions
      [eventAuthor]="event?.author"></event-questions>
  </div>

  <div class="address">
    <event-address></event-address>
  </div>


  <div class="container" id="masterEvents">
    <div class="events2__top">
      <a href="" class="title-link">
            <span class="text34 text20-tablet">
                Другие мероприятия мастера
            </span>
      </a>
    </div>
    <div class="events-slider2 events-slider3 slider events-slider-master">
      <div class="slider__wrap">
        <swiper-container class="event-swiper-master" init="false">
          <swiper-slide class="swiper-slide" *ngFor="let event of masterEvents">
            <event-card3 [event]="event"></event-card3>
          </swiper-slide>
        </swiper-container>
      </div>
      <swiper-nav></swiper-nav>
    </div>
  </div>


  <div class="events2" id="recentEvents">
    <event-collection-history
      [events]="historyEvents"
      [title]="'Вы смотрели'"></event-collection-history>
  </div>

</main>
