<main class="content">

  <div class="event-item">
    <event-item [address]="address" [event]="event"></event-item>
  </div>

  <div class="event-desc">
    <event-desc
      [description]="event?.description"
      [whatsapp]="event?.whatsapp"
      [tg]="event?.telegram"
      [photos]="event?.additional_images"
      [alreadyBooked]="true"></event-desc>
  </div>

  <div class="questions">
    <event-questions
      [eventAuthor]="event?.author"
      [eventId]="eventId"></event-questions>
  </div>

  <div class="address">
    <event-address></event-address>
  </div>

  <event-collections></event-collections>

</main>
