@import 'vars';
html {
    width: 100%;
    &.fixed-body {
        overflow-y: hidden;
    }
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.m-page {
    width: calc(100vw - (100vw - 100%));
    overflow-x: hidden;
    font-family: $font1;
    font-weight: 400;
    color: $black;
    font-size: calc(1440px * (16 / 1440));
    @media screen and (max-width: 1440px){
        font-size: calc(100vw * (16 / 1440));
    }
    &.fixed-body,
    &.fixed-body2{
        overflow-y: hidden;
        padding-right: var(--scrollWidth);
    }
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.875em;
}

a {
    &:hover {
        color: $primary;
    }
}

.mat-calendar {
  background-color: #fff !important; // Цвет фона всего календаря
  border-radius: 0.75em;
  box-shadow: 0 4px 20px #00000026;
}

.mat-calendar-body-selected {
  background-color: $primary !important; // Цвет круга
}

.mat-calendar-body-today {
  color: #4eb5e6 !important; /* Любой цвет текста */
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border: none !important; /* Убирает круг */
  background: transparent !important;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  border: none!important; // убираем обводку
  box-shadow: none!important; // если есть тень, убираем
}


.mat-calendar-body-cell {
  &-content {
    border-radius: 0.25em!important;
  }
  &.mat-calendar-body-disabled {
    color: inherit !important; // Отключённые даты не перекрашиваем
  }

  // Воскресенье
  &:nth-child(7n) .mat-calendar-body-cell-content {
    color: red !important;
  }

  // Суббота
  &:nth-child(7n - 1) .mat-calendar-body-cell-content {
    color: red !important;
  }
}

@media screen and (max-width: 992px){
    .m-page{
        font-size: calc(100vw * (16 / 768));
    }

    .container{
        padding: 0 .75em;
    }
}


@media screen and (max-width: 576px){
    .m-page{
        font-size: calc(100vw * (16 / 375));
    }
}


