$font1:'Raleway',sans-serif;
$font2:'Manrope',sans-serif;
$font3:'Inter',sans-serif;
$black: #000;
$gray3: #a2a2a2;
$primary: #bdda13;
$secondary: blue;
$text-day: #aaa;
$background-calendar: #fff;
$text-inmonth: #181818;
$text-weekend: #ec2a4d;


$vh: calc(100 * var(--vh));
$shadow: 0 .25em 1.25em rgba(0, 0, 0, 0.15);
