<div class="profile__col">
  <h1 class="h1">
    Мой профиль
  </h1>
  <div class="user" *ngIf="profileInfo">
    <div class="user__col">
      <div class="user__top">
        <img-field></img-field>
        <user-type [userStatus]="profileInfo.status"></user-type>
      </div>
      <user-settings [notifications]="notifications"
                     [isMaster]="isMaster"
                     [userId]="profileInfo.id.toString()"></user-settings>
    </div>
    <div class="user__col">
      <user-form [userInfo]="profileInfo"
                 [isMaster]="isMaster"></user-form>
    </div>
  </div>
</div>
