<div class="profile__col">
  <div class="publication-create">
    <a routerLink="/profile/publication" class="h1">
      Мои публикации
    </a>

    <div class="publication-create__subtitle">
      <div class="text24 semi-bold-text">
        {{ publicationTitle }}
      </div>
    </div>
    <publication-upload
      [currentPublicationImages]="currentPublicationImages"
      (onImageChange)="updateImageForm($event)"
      class="publication-create__upload"></publication-upload>
    <publication-form [currentPublication]="currentPublication" [imageForm]="imageForm"></publication-form>
  </div>
</div>
